*_{
    box-sizing: border-box;
}

body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(126, 126, 126);
}

.container {
    width: 98vw;
    height: 96vh;
    background-color: rgb(12, 12, 11);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    border-radius: 10px;
    border: solid red;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.static {
    position:absolute;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

.content {
    display: flex;
    justify-content: space-between;
    height: 100%;
    align-items: center;
    border: 5px solid red;
}


#photo {
    max-width: 40px;
    min-width: 20vw;
    height: auto;
    border-radius: 50px;
}

#bio {

    align-self: center;
}

.currently {
    max-width: 30vw;
    min-width: 20vw;
}

.left, .right {
    display:flex;
    align-items: center;
    width: 40vw;
    height: 60vh;
    text-align: center;
    border: 5px solid red;

}

.divider {
    width: 2px;
    height: 100%;
    background-color: white;
}

