@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

* {
    padding: 0;
    margin:0;
    font-family: "Ubuntu", serif;
}

ul {
    display: flex;
    list-style: none;
    justify-content: flex-end;
}

li {
    margin:1.5rem;
    padding: 0.5rem;
    padding-right: 2rem;
    font-size: 1.2rem;
}

body {
    height: 100vh;
    box-sizing: border-box;
    background-color: #2C3930;
}

h1 {
    padding-bottom: 50px;
    color: #A27B5C;
    text-align: center;
    font-size: 3rem;
}

p {
    color: #dddddd;
    text-align: center;
    font-size: 1.5rem;
}

a {
    color:#A27B5C;
    text-decoration: none;
}

footer {
    padding: 2rem;
    font-size: small;
    text-align: center;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.li_socials {
    width: 80px; 
    height: 50px;
    display:flex;
    align-items: center;
    text-align: center;
    border-radius: 35px;
    box-shadow: 2px 2px 5px rgba(128, 128, 128, 0.116);
    transition: transform 0.2s ease-in-out;
    background-color: #3F4F44;
}

.logos {
    padding-right: 5px;
}

li:hover {
    transform: scale(1.02);
}

#linkedin {
    padding-right: 50px;
}

#ul_socials {
    justify-content: center;
}

#aboutMe {
    width: 100%;
    height: 100%;
    background-color: #2C3930;
    display:flex;
    justify-content: space-evenly;
    overflow: visible;
    margin-top:2rem;
}

#presentation {
    width: 50rem;
    height: 50rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 2rem;
    /* border: 1rem solid white; */
}

#portrait {
    width: 30%;
    height: 30%;
    padding: 2rem;
}

#github_logo {
    width: 25px;
}

@media (max-width: 900px){
    header nav ul{
        justify-content: center;
    }

    #portrait {
        width: auto;
        height: auto;
        padding-bottom: auto;
    }

    #aboutMe {
        flex-direction: column-reverse;
        justify-content: center;
    }

    #presentation {
        padding-top: 0px;
        width: auto;
    }
}
